<section class="container">
<div *ngIf="data">
<h2 class="title">{{ 'SETTINGS' | translate }}</h2>
<app-form-add (submit)="onSubmit($event)" [user]="data" ></app-form-add>
</div>

    <div *ngIf="success" class="ui success message">
        <div class="header" translate>
            Your information was updated.
        </div>
    </div>
    <div *ngIf="error" class="ui negative message">
        <div class="header" translate>{{ error }}</div>
    </div>
</section>

