<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate [ngClass]="'ui form'" [class.loading]="loading">
          <div class="field">
            <label> {{ 'NAME' | translate }}</label>
                <div [ngClass]="'ui icon left input'" [class.loading]="profileForm.controls['name'].pending">
                    <input type="text"  placeholder="{{ 'NAME' | translate }}" formControlName="name"  >
                    <i class="user icon"></i>
                </div>
                <div *ngIf="checkInvalid('name')"  class="ui negative message" >
                    <div *ngIf="profileForm.controls['name'].errors.required" class="header">
                         {{ 'REQUIRED' | translate: { value : 'NAME' | translate} }}
                    </div>
                    <div *ngIf="profileForm.controls['name'].errors.minlength" class="header">
                         {{ 'MINLENGTH' | translate:{ name :'NAME' | translate, min : 4 } }}
                    </div>
                </div>
          </div>
          <div class="field">
            <label>{{ 'PASSWORD' | translate }}: </label>
            <div [ngClass]="'ui icon input'" >
                <input type="password" formControlName="password" (keypress)="cantSpace($event)" >
                <i class="lock icon"></i>
            </div>
            <div *ngIf="checkInvalid('password')"  class="ui negative message" >
                <div *ngIf="profileForm.controls['password'].errors.required" class="header">
                  {{ 'REQUIRED' | translate:'PASSWORD' | translate }}
                </div>
                <div *ngIf="profileForm.controls['password'].errors.minlength" class="header">
                    {{ 'MINLENGTH' | translate:{ name :'PASSWORD' | translate, min : 4 } }}
                </div>
            </div>
          </div>
          <div class="field">
              <a class="forgot" routerLink="/forgot">{{ 'FORGOTPASSWORD' | translate }}?</a>
            </div>
          <button type="submit" [disabled]="!profileForm.valid"  class="ui inverted violet button" >{{ 'LOGIN' | translate }}</button>
          <div *ngIf="incorrect" class="ui negative message">
            <div class="header" translate >
                {{ incorrect }}.
            </div>
        </div>
        </form>
      </div>
      <div class="middle aligned column">
        <div class="ui big inverted violet button" routerLink="/singup">
          <i class="signup icon"></i>
          {{ 'SINGUP' | translate }}
        </div>
      </div>
    </div>
    <div class="ui vertical divider">
        {{ 'OR' | translate }}
    </div>
  </div>