<form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit($event)" novalidate [ngClass]="'ui form'" >
    <div [ngClass]="'field'">
        <label> {{ 'NAME' | translate }}: </label>
        <div [ngClass]="'ui icon input'" [class.loading]="profileForm.controls['name'].pending">
            <input type="text" formControlName="name" (keypress)="checkSymbol($event)" >
            <i [ngClass]="'icon'" [class.check]="checkValid('name')" [class.close]="checkInvalid('name')"></i>
        </div>
        <div *ngIf="checkInvalid('name')"  class="ui negative message" >
            <div *ngIf="profileForm.controls['name'].errors.required" class="header">
                {{ 'REQUIRED' | translate: { value : 'NAME' | translate} }}
            </div>
            <div *ngIf="profileForm.controls['name'].errors.minlength" class="header">
                    {{ 'MINLENGTH' | translate:{ name :'NAME' | translate, min : 4 } }}
            </div>
            <div *ngIf="profileForm.controls['name'].errors.forbiddenName" 
                 translate
                [innerHTML]="profileForm.controls['name'].errors.forbiddenName.value" class="header">
            </div>
            <div *ngIf="profileForm.controls['name'].errors.forbiddenCurrectName" 
                translate
                [innerHTML]="profileForm.controls['name'].errors.forbiddenCurrectName.value" class="header">
            </div>
        </div>
    </div>
    <div [ngClass]="'field'">
        <label>{{ 'PASSWORD' | translate }}: </label>
        <div [ngClass]="'ui icon input'" >
            <input type="password" formControlName="password" (keypress)="cantSpace($event)" >
            <i [ngClass]="'icon'" [class.check]="checkValid('password')" [class.close]="checkInvalid('password')"></i>
        </div>
        <div *ngIf="checkInvalid('password')"  class="ui negative message" >
            <div *ngIf="profileForm.controls['password'].errors.required" class="header">
                {{ 'REQUIRED' | translate: { value : 'PASSWORD' | translate} }}
            </div>
            <div *ngIf="profileForm.controls['password'].errors.minlength" class="header">
                {{ 'MINLENGTH' | translate:{ name :'PASSWORD' | translate, min : 4 } }}
            </div>
        </div>
    </div>
    <div [ngClass]="'field'">
        <label>{{ 'AGE' | translate }}: </label>
        <div [ngClass]="'ui icon input'">
            <input type="text" formControlName="age">
            <i [ngClass]="'icon'" [class.check]="checkValid('age')" [class.close]="checkInvalid('age')"></i>
        </div>
        <div *ngIf="checkInvalid('age')"  class="ui negative message" >
            <div *ngIf="profileForm.controls['age'].errors.required" class="header">
                    {{ 'REQUIRED' | translate: { value : 'AGE' | translate} }}
            </div>
            <div *ngIf="profileForm.controls['age'].errors.forbiddenAge"  class="header"
                 translate
                [innerHTML]="profileForm.controls['age'].errors.forbiddenAge.value" >
            </div>
        </div>
    </div>
    <div [ngClass]="'field'">
        <label>{{ 'BIRTHDAY' | translate }}: </label>
        <div [ngClass]="'ui icon input'">
            <input type="text" formControlName="birthday" placeholder="YYYY/MM/DD" >
            <i [ngClass]="'icon'" [class.check]="checkValid('birthday')" [class.close]="checkInvalid('birthday')"></i>
        </div>
        <div *ngIf="checkInvalid('birthday')" class="ui negative message" >
            <div *ngIf="profileForm.controls['birthday'].errors.forbiddenDate"  class="header"
                translate
                [innerHTML]="profileForm.controls['birthday'].errors.forbiddenDate.value" >
            </div>
        </div>
    </div>
    <div [ngClass]="'field'">
        <label>{{ 'DATEOFLOGIN' | translate }}: </label>
        <div [ngClass]="'ui icon input'">
            <input type="text" formControlName="dateOfLogin" placeholder="DD MMMM YYYY" >
            <i [ngClass]="'icon'" [class.check]="checkValid('dateOfLogin')" [class.close]="checkInvalid('dateOfLogin')"></i>
        </div>
        <div *ngIf="checkInvalid('dateOfLogin')" class="ui negative message" >
            <div *ngIf="profileForm.controls['dateOfLogin'].errors.forbiddenDate" class="header"
                 translate
                [innerHTML]="profileForm.controls['dateOfLogin'].errors.forbiddenDate.value" >
            </div>
        </div>
    </div>
    <div [ngClass]="'field'">
        <label>{{ 'DATEOFNOTIFICATION' | translate }}: </label>
        <div [ngClass]="'ui icon input'" >
            <input type="text" formControlName="dateOfNotification" placeholder="DD-MMM-YY" >
            <i [ngClass]="'icon'" [class.check]="checkValid('dateOfNotification')" [class.close]="checkInvalid('dateOfNotification')"></i>
        </div>
        <div *ngIf="checkInvalid('dateOfNotification')" class="ui negative message" >
            <div *ngIf="profileForm.controls['dateOfNotification'].errors.forbiddenDate" class="header"
                 translate   
                [innerHTML]="profileForm.controls['dateOfNotification'].errors.forbiddenDate.value" >
            </div>
        </div>
    </div>
    <div [ngClass]="'field'">
        <label>{{ 'INFORMATION' | translate }}: </label>
        <div [ngClass]="'ui icon input'" >
            <input type="text" formControlName="information"  >
            <i [ngClass]="'icon'" ></i>
        </div>
    </div>
    <button type="submit" [disabled]="!profileForm.valid" 
        [ngClass]="'ui inverted violet button'" >{{ 'SUBMIT' | translate }}</button>
  </form>