<div class="black">
    <h2 class="title">{{ 'SINGUP' | translate }}</h2>
    <app-form-add  (submit)="onSubmit($event)" [user]="data" ></app-form-add>
    <div *ngIf="user" class="ui success message">
        <div class="header">
            {{ 'Your user registration was successful.' | translate }}
        </div>
        <div class="user" *ngIf="user">
            <div class="field" >
                <div><p> {{ 'NAME' | translate }} : {{ user.name }} </p></div>
            </div>
            <div class="field" >
                <div><p> {{ 'PASSWORD' | translate }} : {{ user.password }} </p></div>
            </div>
            <div class="field" >
                <div><p> {{ 'AGE' | translate }} : {{ user.age }} </p></div>
            </div>
            <div class="field" >
                <div><p> {{ 'BIRTHDAY' | translate }} : {{ user.dateOfBirth  }} </p></div>
            </div>
            <div class="field" >
                <div><p> {{ 'DATEOFLOGIN' | translate }} : {{ user.dateOfFirstLogin }} </p></div>
            </div>
            <div class="field" >
                <div><p> {{ 'DATEOFNOTIFICATION' | translate }} : {{ user.dateOfNextNotification }} </p></div>
            </div>
            <div class="field" >
                <div><p> {{ 'INFORMATION' | translate }} : {{ user.information }} </p></div>
            </div>
        </div>
    </div>
</div>